@font-face {
  font-family: "MainFont";
  src: url("/fonts/PPWoodland-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Head";
  src: url("/fonts/BodoniModa-VariableFont_opsz\,wght.ttf") format("ttf");
}